<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !index.php
## if the request is not for a valid file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?test=$1 [NC,L]
</IfModule>